body {
    margin: 0;
    background-color: rgb(233, 233, 233);
    font-family: 'PT Sans', 'Noto Sans JP', 'Source Sans Pro', sans-serif;
}

header h1 {
    margin: 0;
    padding: 12px;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    background-image: url('../res/BackgroundGalaxy.jpg');
}

nav ul {
    display: grid;
    grid-template-areas: ". . .";
}

nav li {
    
}

nav a {
    text-decoration: none;
    color:black
}

nav a:hover {
    text-decoration: underline;
}

img {
    width: 25%;
    
}